$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$light-blue: #477dba;
$black: #000;
$white: #fff;

form {
  background-color: $light-blue;
  border: solid $black 2px;
  margin: 0 auto 10px;
  padding: 10px;
  width: 20%;
}

button {
  margin: 4px;
}

body {
  text-align: center;
}
