$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$light-blue: #477dba;
$black: #000;
$white: #fff;
$gray: #d3d3d3;
$blueflame: #3e65c0;
$rust: #b7410e;
$dark-gray: #333;
$padding: 10px;
$display-block: inline-block;
$margin: 5px;
$div-border: solid $rust 2px;
$clear-left: left;
$max-width: 200px;

.nav-bar {
  background-color: $dark-gray;
  height: 45px;
  margin-bottom: 10px;
}

.div-background-color {
  background-color: $black;
  border: $div-border;
  clear: $clear-left;
  color: $white;
  display: $display-block;
  margin: $margin;
  max-width: $max-width;
  padding: $padding;
}

.message {
  background-color: $black;
  color: $white;
  float: left;
  font-size: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  float: right;
}

a {
  color: $white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $gray;
    text-decoration: none;
  }
}
//
// a &:hover {
//   background-color: $black;
// }

.topnav {
  background-color: $black;
  color: $light-blue;
  font-size: 50px;
  height: 70px;
  letter-spacing: 5px;
  overflow: hidden;
}

label {
  color: $gray;
}

form {
  background-color: $black;
  border: solid $rust 4px;
  border-radius: 10px;
  margin: 0 auto 10px;
  padding: 10px;
  width: 20%;
}

input {
  text-align: center;
}

button {
  margin: 4px;
}

body {
  background: url('../../assets/images/engine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
//
// input {
//   background-color: $blueflame;
// }
