$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$light-blue: #477dba;
$black: #000;
$white: #fff;

form {
  border: solid $black 2px;
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 10px;
}

img {
  border: solid $white 2px;
  width: 58%;
}

body {
  background-color: $light-blue;
  margin: 0 auto;
}
